In [144]:
import pandas as pd
pd.options.display.max_rows = 30

## Step 1: Load the data

In [145]:
# read the data
datapath = "data/university_data/"

cwur = pd.read_csv(datapath + "/cwurData.csv", header=0)
cwur.set_index(["year", "institution"], inplace=True)
display(cwur)

                                            world_rank         country  \
year institution
2012 Harvard University                              1             USA
     Massachusetts Institute of Technology           2             USA
     Stanford University                             3             USA
     University of Cambridge                         4  United Kingdom
     California Institute of Technology              5             USA
     Princeton University                            6             USA
     University of Oxford                            7  United Kingdom
     Yale University                                 8             USA
     Columbia University                             9             USA
     University of California, Berkeley             10             USA
     University of Chicago                          11             USA
     Cornell University                             12             USA
     University of Pennsylvania                     13             USA
     University of Tokyo                            14           Japan
     Johns Hopkins University                       15             USA
...                                                ...             ...
2015 University of Bucharest                       986         Romania
     Babe»ô-Bolyai University                       987         Romania
     Mansoura University                           988           Egypt
     University of Pau and Pays de l'Adour         989          France
     Henan Normal University                       990           China
     Xidian University                             991           China
     Federal University of Bahia                   992          Brazil
     Southwest Jiaotong University                 993           China
     Ryerson University                            994          Canada
     King Abdulaziz University                     995    Saudi Arabia
     University of the Algarve                     996        Portugal
     Alexandria University                         997           Egypt
     Federal University of Cear√°                   998          Brazil
     University of A Coru√±a                        999           Spain
     China Pharmaceutical University              1000           China

                                            national_rank  \
year institution
2012 Harvard University                                 1
     Massachusetts Institute of Technology              2
     Stanford University                                3
     University of Cambridge                            1
     California Institute of Technology                 4
     Princeton University                               5
     University of Oxford                               2
     Yale University                                    6
     Columbia University                                7
     University of California, Berkeley                 8
     University of Chicago                              9
     Cornell University                                10
     University of Pennsylvania                        11
     University of Tokyo                                1
     Johns Hopkins University                          12
...                                                   ...
2015 University of Bucharest                            1
     Babe»ô-Bolyai University                            2
     Mansoura University                                3
     University of Pau and Pays de l'Adour             49
     Henan Normal University                           80
     Xidian University                                 81
     Federal University of Bahia                       17
     Southwest Jiaotong University                     82
     Ryerson University                                33
     King Abdulaziz University                          4
     University of the Algarve                          7
     Alexandria University                              4
     Federal University of Cear√°                       18
     University of A Coru√±a                            40
     China Pharmaceutical University                   83

                                            quality_of_education  \
year institution
2012 Harvard University                                        7
     Massachusetts Institute of Technology                     9
     Stanford University                                      17
     University of Cambridge                                  10
     California Institute of Technology                        2
     Princeton University                                      8
     University of Oxford                                     13
     Yale University                                          14
     Columbia University                                      23
     University of California, Berkeley                       16
     University of Chicago                                    15
     Cornell University                                       21
     University of Pennsylvania                               31
     University of Tokyo                                      32
     Johns Hopkins University                                 34
...                                                          ...
2015 University of Bucharest                                 237
     Babe»ô-Bolyai University                                 367
     Mansoura University                                     367
     University of Pau and Pays de l'Adour                   367
     Henan Normal University                                 367
     Xidian University                                       367
     Federal University of Bahia                             367
     Southwest Jiaotong University                           367
     Ryerson University                                      367
     King Abdulaziz University                               367
     University of the Algarve                               367
     Alexandria University                                   236
     Federal University of Cear√°                             367
     University of A Coru√±a                                  367
     China Pharmaceutical University                         367

                                            alumni_employment  \
year institution
2012 Harvard University                                     9
     Massachusetts Institute of Technology                 17
     Stanford University                                   11
     University of Cambridge                               24
     California Institute of Technology                    29
     Princeton University                                  14
     University of Oxford                                  28
     Yale University                                       31
     Columbia University                                   21
     University of California, Berkeley                    52
     University of Chicago                                 26
     Cornell University                                    42
     University of Pennsylvania                            16
     University of Tokyo                                   19
     Johns Hopkins University                              77
...                                                       ...
2015 University of Bucharest                              567
     Babe»ô-Bolyai University                              567
     Mansoura University                                  567
     University of Pau and Pays de l'Adour                567
     Henan Normal University                              567
     Xidian University                                    542
     Federal University of Bahia                          540
     Southwest Jiaotong University                        327
     Ryerson University                                   567
     King Abdulaziz University                            449
     University of the Algarve                            567
     Alexandria University                                566
     Federal University of Cear√°                          549
     University of A Coru√±a                               567
     China Pharmaceutical University                      567

                                            quality_of_faculty  publications  \
year institution
2012 Harvard University                                      1             1
     Massachusetts Institute of Technology                   3            12
     Stanford University                                     5             4
     University of Cambridge                                 4            16
     California Institute of Technology                      7            37
     Princeton University                                    2            53
     University of Oxford                                    9            15
     Yale University                                        12            14
     Columbia University                                    10            13
     University of California, Berkeley                      6             6
     University of Chicago                                   8            34
     Cornell University                                     14            22
     University of Pennsylvania                             24             9
     University of Tokyo                                    31             8
     Johns Hopkins University                               20            11
...                                                        ...           ...
2015 University of Bucharest                               218           845
     Babe»ô-Bolyai University                               218           874
     Mansoura University                                   218           987
     University of Pau and Pays de l'Adour                 218           980
     Henan Normal University                               218           959
     Xidian University                                     218           830
     Federal University of Bahia                           218           962
     Southwest Jiaotong University                         218           937
     Ryerson University                                    218           811
     King Abdulaziz University                             218           595
     University of the Algarve                             218           926
     Alexandria University                                 218           997
     Federal University of Cear√°                           218           830
     University of A Coru√±a                                218           886
     China Pharmaceutical University                       218           861

                                            influence  citations  \
year institution
2012 Harvard University                             1          1
     Massachusetts Institute of Technology          4          4
     Stanford University                            2          2
     University of Cambridge                       16         11
     California Institute of Technology            22         22
     Princeton University                          33         26
     University of Oxford                          13         19
     Yale University                                6         15
     Columbia University                           12         14
     University of California, Berkeley             5          3
     University of Chicago                         20         28
     Cornell University                            21         16
     University of Pennsylvania                    10          8
     University of Tokyo                           19         23
     Johns Hopkins University                       9          9
...                                               ...        ...
2015 University of Bucharest                      804        645
     Babe»ô-Bolyai University                      855        812
     Mansoura University                          969        645
     University of Pau and Pays de l'Adour        991        812
     Henan Normal University                      991        812
     Xidian University                            974        812
     Federal University of Bahia                  865        645
     Southwest Jiaotong University                962        812
     Ryerson University                           969        511
     King Abdulaziz University                    430        645
     University of the Algarve                    845        812
     Alexandria University                        908        645
     Federal University of Cear√°                  823        812
     University of A Coru√±a                       974        812
     China Pharmaceutical University              991        812

                                            broad_impact  patents   score
year institution
2012 Harvard University                              NaN        5  100.00
     Massachusetts Institute of Technology           NaN        1   91.67
     Stanford University                             NaN       15   89.50
     University of Cambridge                         NaN       50   86.17
     California Institute of Technology              NaN       18   85.21
     Princeton University                            NaN      101   82.50
     University of Oxford                            NaN       26   82.34
     Yale University                                 NaN       66   79.14
     Columbia University                             NaN        5   78.86
     University of California, Berkeley              NaN       16   78.55
     University of Chicago                           NaN      101   73.82
     Cornell University                              NaN       10   73.69
     University of Pennsylvania                      NaN        9   73.64
     University of Tokyo                             NaN        3   69.49
     Johns Hopkins University                        NaN        7   66.94
...                                                  ...      ...     ...
2015 University of Bucharest                       975.0      871   44.04
     Babe»ô-Bolyai University                       958.0      871   44.04
     Mansoura University                           958.0      871   44.04
     University of Pau and Pays de l'Adour         958.0      809   44.04
     Henan Normal University                       958.0      871   44.04
     Xidian University                             984.0      434   44.03
     Federal University of Bahia                   969.0      774   44.03
     Southwest Jiaotong University                 998.0      861   44.03
     Ryerson University                            975.0      756   44.03
     King Abdulaziz University                     994.0      839   44.03
     University of the Algarve                     969.0      816   44.03
     Alexandria University                         981.0      871   44.03
     Federal University of Cear√°                   975.0      824   44.03
     University of A Coru√±a                        975.0      651   44.02
     China Pharmaceutical University               981.0      547   44.02

[2200 rows x 12 columns]

In [146]:
shanghai = pd.read_csv(datapath + "/shanghaiData.csv", header=0)
uni2country = pd.read_csv(datapath + "/school_and_country_table.csv", header=0)
shanghai = shanghai.merge(uni2country, left_on = "university_name", right_on = "school_name")
del shanghai['school_name']
shanghai.set_index("year",inplace=True)
display(shanghai)

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,country
year,,,,,,,,,,,
2005,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,United States of America
2006,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,73.6,United States of America
2007,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,73.0,United States of America
2008,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,74.1,United States of America
2009,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,74.8,United States of America
2010,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,69.2,United States of America
2011,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,70.5,United States of America
2012,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,71.1,United States of America
2013,1,Harvard University,1.0,100.0,100.0,100.0,100.0,100.0,100.0,72.5,United States of America
2014,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,75.3,United States of America
2015,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,United States of America
2005,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,United Kingdom
2006,2,University of Cambridge,1,72.6,96.3,91.5,53.8,59.5,67.1,66.5,United Kingdom
2007,4,University of Cambridge,1,71.6,93.6,91.5,54.0,58.2,65.4,65.1,United Kingdom
2008,4,University of Cambridge,1,70.4,90.3,91.5,53.6,56.0,64.1,65.0,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...
2014,401-500,University of Coimbra,3,NaN,0.0,0.0,0.0,8.2,33.9,16.2,Portugal
2015,401-500,University of Coimbra,3,NaN,0.0,0.0,0.0,7.2,32.9,16.3,Portugal
2014,401-500,University of the Basque Country,9-12,NaN,0.0,0.0,3.6,6.9,35.0,12.9,Spain
2015,401-500,University of the Basque Country,9-13,NaN,0.0,0.0,3.6,7.1,36.1,13.5,Spain
2015,16,Johns Hopkins University,14,46.3,37.7,33.6,44.0,44.9,70.2,28.8,United States of America
2015,100,Texas A&M University,51,23.9,0.0,0.0,34.3,22.7,49.5,20.9,United States of America
2015,151-200,Queen Mary University of London,18-21,NaN,17.8,0.0,18.1,13.7,32.1,20.7,United Kingdom
2015,151-200,Sapienza University of Rome,1-5,NaN,11.5,13.3,5.1,12.1,52.0,17.8,Italy
2015,201-300,KTH Royal Institute of Technology,6-7,NaN,0.0,14.9,3.6,10.3,38.3,24.2,Sweden
2015,201-300,Pompeu Fabra University,2-5,NaN,0.0,0.0,5.0,19.7,26.4,33.6,Spain
2015,401-500,Capital Medical University,28-32,NaN,0.0,0.0,0.0,0.0,36.0,32.2,China
2015,401-500,Queensland University of Technology,20,NaN,0.0,0.0,0.0,3.3,34.6,18.5,Australia
2015,401-500,Sharif University of Technology,2,NaN,15.4,0.0,3.6,0.0,29.1,15.3,Iran
2015,401-500,University of Genoa,11-20,NaN,0.0,0.0,7.2,4.2,31.7,17.5,Italy
2015,401-500,University of Seville,9-13,NaN,0.0,0.0,0.0,7.5,33.7,11.3,Spain

In [147]:
"""
educ_attainment = pd.read_csv(datapath + "/educational_attainment_supplementary_data.csv", header=0)
timesData = pd.read_csv(datapath + "/timesData.csv", header=0)

display(educ_attainment)
display(timesData)
"""

'\neduc_attainment = pd.read_csv(datapath + "/educational_attainment_supplementary_data.csv", header=0)\ntimesData = pd.read_csv(datapath + "/timesData.csv", header=0)\n\ndisplay(educ_attainment)\ndisplay(timesData)\n'

In [148]:
# the file must first be cleaned by deleting the initial spaces...

educ_expenditure = pd.read_csv(datapath + "/education_expenditure_supplementary_data.csv",
                               header=0,
                               quotechar="\"")

# replace the country names by the above names
country_dict = {"Korea, Republic of" : "South Korea",
                "Russian Federation" : "Russia",
                "United States" : "USA",
                "Slovak Republic" : "Slovakia"}
for key, value in country_dict.items():
    educ_expenditure.replace(key, value, inplace=True)

educ_expenditure["institute_type"]=educ_expenditure["institute_type"].str.strip()

                           # reformat the dataframe
years = [1995,2000,2005,2009,2010,2011]

concat_list = []
for year in years:
    cols = ["country","institute_type","direct_expenditure_type", str(year)]
    concat_df = educ_expenditure.copy()[cols]
    concat_df["year"]=year
    concat_df.rename(columns = {str(year) : "percentage of GDP"}, inplace=True)
    concat_list.append(concat_df)


    
    
educ_expenditure_processed = pd.concat(concat_list, axis=0, ignore_index=True, sort=False)

institute_types = set(educ_expenditure_processed["institute_type"])
direct_expenditure_types = set(educ_expenditure_processed["direct_expenditure_type"])

merge_list = []
for institute_type in institute_types:
    for direct_expenditure_type in direct_expenditure_types:
        merge_df =educ_expenditure_processed[(educ_expenditure_processed["institute_type"]==institute_type) & 
                                   (educ_expenditure_processed["direct_expenditure_type"]==direct_expenditure_type)].copy()
        merge_df = merge_df[["country", "year", "percentage of GDP"]]
        merge_df.rename(columns = {"percentage of GDP": "percentage of GDP," + institute_type + "," + direct_expenditure_type},
                       inplace=True)
        merge_list.append(merge_df)


for merge_df in merge_list[1:]:
    merge_list[0]=merge_list[0].merge(merge_df, on = ["country", "year"])

educ_expenditure_processed = merge_list[0]
educ_expenditure_processed.set_index(["year", "country"], inplace=True)
educ_expenditure_processed.columns = pd.MultiIndex.from_tuples(
    [(c.split(",")[0], c.split(",")[1], c.split(",")[2]) for c in educ_expenditure_processed.columns]
     )
educ_expenditure_processed

                     percentage of GDP                 \
                      All Institutions
                                 Total Public Private
year country
1995 OECD Average                  NaN    4.9     NaN
     Australia                     NaN    4.5     NaN
     Austria                       NaN    5.3     NaN
     Belgium                       NaN    5.0     NaN
     Canada                        NaN    5.8     NaN
     Chile                         NaN    NaN     NaN
     Czech Republic                NaN    4.8     NaN
     Denmark                       NaN    6.5     NaN
     Estonia                       NaN    NaN     NaN
     Finland                       NaN    6.6     NaN
     France                        NaN    5.8     NaN
     Germany                       NaN    4.5     NaN
     Greece                        NaN    3.7     NaN
     Hungary                       NaN    4.9     NaN
     Iceland                       NaN    4.5     NaN
...                                ...    ...     ...
2011 Netherlands                   6.2    5.3     0.9
     New Zealand                   7.5    6.3     1.2
     Norway                        NaN    7.3     NaN
     Poland                        5.5    4.8     0.7
     Portugal                      5.5    5.1     0.4
     Slovak Republic               4.4    3.8     0.5
     Slovenia                      5.9    5.3     0.7
     Spain                         5.5    4.7     0.8
     Sweden                        6.3    6.2     0.2
     Switzerland                   5.6    5.2     0.4
     Turkey                        NaN    NaN     NaN
     United Kingdom                6.4    5.6     0.8
     USA                           6.9    4.7     2.2
     Brazil                        NaN    5.9     NaN
     Russia                        4.6    3.9     0.7

                                                                           \
                     Elementary and Secondary Institutions
                                                     Total Public Private
year country
1995 OECD Average                                      NaN    3.5     NaN
     Australia                                         NaN    3.2     NaN
     Austria                                           NaN    3.8     NaN
     Belgium                                           NaN    3.4     NaN
     Canada                                            NaN    4.0     NaN
     Chile                                             NaN    NaN     NaN
     Czech Republic                                    NaN    3.4     NaN
     Denmark                                           NaN    4.2     NaN
     Estonia                                           NaN    NaN     NaN
     Finland                                           NaN    4.2     NaN
     France                                            NaN    4.1     NaN
     Germany                                           NaN    2.9     NaN
     Greece                                            NaN    2.8     NaN
     Hungary                                           NaN    3.3     NaN
     Iceland                                           NaN    3.4     NaN
...                                                    ...    ...     ...
2011 Netherlands                                       4.0    3.6     0.4
     New Zealand                                       5.4    4.8     0.6
     Norway                                            NaN    4.9     NaN
     Poland                                            3.4    3.2     0.2
     Portugal                                          3.7    3.7     0.0
     Slovak Republic                                   2.8    2.5     0.3
     Slovenia                                          3.8    3.5     0.3
     Spain                                             3.2    2.9     0.3
     Sweden                                            3.9    3.9     0.0
     Switzerland                                       4.0    3.6     0.5
     Turkey                                            NaN    NaN     NaN
     United Kingdom                                    4.7    4.4     0.4
     USA                                               3.7    3.4     0.3
     Brazil                                            NaN    4.4     NaN
     Russia                                            2.1    2.0     0.1


                     Higher Education Institutions
                                             Total Public Private
year country
1995 OECD Average                              NaN    0.9     NaN
     Australia                                 NaN    1.2     NaN
     Austria                                   NaN    0.9     NaN
     Belgium                                   NaN    0.9     NaN
     Canada                                    NaN    1.5     NaN
     Chile                                     NaN    NaN     NaN
     Czech Republic                            NaN    0.7     NaN
     Denmark                                   NaN    1.3     NaN
     Estonia                                   NaN    NaN     NaN
     Finland                                   NaN    1.7     NaN
     France                                    NaN    1.0     NaN
     Germany                                   NaN    1.0     NaN
     Greece                                    NaN    0.8     NaN
     Hungary                                   NaN    0.8     NaN
     Iceland                                   NaN    0.7     NaN
...                                            ...    ...     ...
2011 Netherlands                               1.8    1.3     0.5
     New Zealand                               1.5    1.0     0.5
     Norway                                    1.7    1.6     0.1
     Poland                                    1.3    1.0     0.3
     Portugal                                  1.4    1.0     0.4
     Slovak Republic                           1.0    0.8     0.2
     Slovenia                                  1.3    1.1     0.2
     Spain                                     1.3    1.0     0.3
     Sweden                                    1.7    1.6     0.2
     Switzerland                               NaN    1.3     NaN
     Turkey                                    NaN    NaN     NaN
     United Kingdom                            1.2    0.9     0.3
     USA                                       2.7    0.9     1.8
     Brazil                                    NaN    0.9     NaN
     Russia                                    1.4    0.9     0.5

[222 rows x 9 columns]

In [172]:
uni_exp=educ_expenditure_processed.merge(shanghai, on = ["year", "country"]).copy()
#print(uni_exp.columns)
display(uni_exp)
uni_exp.plot([('percentage of GDP', 'All Institutions', 'Public')], "world_rank", kind="scatter")

,country,"(percentage of GDP, All Institutions, Total)","(percentage of GDP, All Institutions, Public)","(percentage of GDP, All Institutions, Private)","(percentage of GDP, Elementary and Secondary Institutions, Total)","(percentage of GDP, Elementary and Secondary Institutions, Public)","(percentage of GDP, Elementary and Secondary Institutions, Private)","(percentage of GDP, Higher Education Institutions, Total)","(percentage of GDP, Higher Education Institutions, Public)","(percentage of GDP, Higher Education Institutions, Private)",world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp
year,,,,,,,,,,,,,,,,,,,,
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,82,University of Melbourne,2,26.0,15.4,14.4,22.2,18.7,53.5,19.9
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,101-152,The University of Queensland,3-4,NaN,16.6,0.0,7.9,19.9,50.1,18.9
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,101-152,University of Sydney,3-4,NaN,19.8,0.0,19.2,17.8,54.5,19.7
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,153-202,University of New South Wales,5-6,NaN,0.0,0.0,19.2,14.3,47.0,17.6
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,203-300,Macquarie University,7-9,NaN,0.0,0.0,13.6,15.9,25.6,17.9
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,203-300,Monash University,7-9,NaN,0.0,0.0,7.9,15.4,44.6,14.7
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,301-400,University of Newcastle,10,NaN,0.0,0.0,13.6,5.5,27.5,15.4
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,401-500,Flinders University,11-14,NaN,0.0,0.0,7.9,6.4,23.1,14.9
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,401-500,La Trobe University,11-14,NaN,0.0,0.0,7.9,8.3,24.2,12.2
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,401-500,Murdoch University,11-14,NaN,0.0,0.0,11.1,4.1,19.1,14.6
2005,Australia,NaN,4.3,NaN,NaN,3.4,NaN,NaN,0.8,NaN,401-500,University of Tasmania,11-14,NaN,0.0,0.0,7.9,7.5,24.6,15.3
2005,Austria,NaN,5.2,NaN,NaN,3.5,NaN,NaN,1.2,NaN,85,University of Vienna,1,25.6,25.1,15.8,7.9,22.7,52.2,26.4
2005,Austria,NaN,5.2,NaN,NaN,3.5,NaN,NaN,1.2,NaN,203-300,University of Innsbruck,2,NaN,0.0,11.2,7.9,19.2,29.8,16.1
2005,Austria,NaN,5.2,NaN,NaN,3.5,NaN,NaN,1.2,NaN,301-400,University of Graz,3-4,NaN,12.5,12.9,0.0,6.0,22.1,11.8
2005,Austria,NaN,5.2,NaN,NaN,3.5,NaN,NaN,1.2,NaN,301-400,Vienna University of Technology,3-4,NaN,0.0,0.0,0.0,14.8,30.2,14.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,102-150,London School of Economics and Political Science,11-15,NaN,22.8,16.2,16.1,NaN,28.0,25.9
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,201-300,Newcastle University,20-29,NaN,0.0,0.0,14.4,19.0,36.5,17.4
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,201-300,University of St Andrews,20-29,NaN,11.8,0.0,7.2,20.7,29.7,23.3
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,151-200,University of Warwick,16-19,NaN,0.0,0.0,25.5,15.5,36.2,20.0
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,201-300,University of York,20-29,NaN,0.0,0.0,17.7,12.9,31.8,20.1
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,401-500,The Open University,34-37,NaN,0.0,0.0,12.5,11.1,23.0,11.9
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,201-300,University of Aberdeen,20-29,NaN,0.0,0.0,10.2,13.4,34.0,18.5
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,301-400,University of Bath,30-33,NaN,0.0,0.0,10.2,12.3,30.1,19.5
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,401-500,University of Essex,34-37,NaN,22.0,0.0,7.2,2.1,20.3,19.0
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,301-400,University of Exeter,30-33,NaN,0.0,0.0,0.0,19.5,31.5,19.7
2011,United Kingdom,6.4,5.6,0.8,4.7,4.4,0.4,1.2,0.9,0.3,401-500,University of Surrey,34-37,NaN,0.0,0.0,7.2,5.2,26.0,17.1
2011,Brazil,NaN,5.9,NaN,NaN,4.4,NaN,NaN,0.9,NaN,201-300,State University of Campinas,2,NaN,0.0,0.0,7.2,7.9,43.1,20.5
2011,Brazil,NaN,5.9,NaN,NaN,4.4,NaN,NaN,0.9,NaN,301-400,Federal University of Rio de Janeiro,3-5,NaN,0.0,0.0,0.0,11.1,40.6,19.4
2011,Brazil,NaN,5.9,NaN,NaN,4.4,NaN,NaN,0.9,NaN,301-400,Federal University of Minas Gerais,3-5,NaN,0.0,0.0,7.2,5.5,35.6,16.9
2011,Brazil,NaN,5.9,NaN,NaN,4.4,NaN,NaN,0.9,NaN,401-500,Federal University of Rio Grande do Sul,6-7,NaN,0.0,0.0,0.0,2.4,37.8,17.5

ValueError: scatter requires y column to be numeric

## Step 2: Explore the data

## Step 3: Model the data